div#nav-header.clearfix
    rsms
    div.col-md-5
    div.col.md-7
        ul.pull-right
            li#welcome Welcome to administration area
            li.fixed-width(data-toggle="modal", data-target="#rsmsModal")
                a
                    span.glyphicon.glyphicon-modal-window
            li.fixed-width
                a
                    span.glyphicon.glyphicon-bell(href="#")
                    span.label.label-warning 3
            li.fixed-width
                a
                    span.glyphicon.glyphicon-envelope(href="#")
                    span.label.label-message 3
            li((click)="logout()")
                a.logout
                    span.glyphicon.glyphicon-log-out(href="#")
                    span logout
