doctype html
html
    head
        title Angular 2 App
        base(href="/")
        link(rel="stylesheet" href="fonts/source-sans-pro.css")
        link(rel="stylesheet" href="css/bootstrap.min.css")
        link(rel="stylesheet" href="css/bootcards-desktop.min.css")
        link(rel="stylesheet" href="css/main.css")
        script(src="js/client/shim.min.js")
        script(src="js/zone.js")
        script(src="js/system.src.js")
        script(src="js/bootstrap.min.js")
        script(src="js/bootcards.min.js")
        script(src="js/hterm_all.js")
        script(src="js/socket.io.js")
    body
        app
    script(src="js/build.js")
