div.form-container
    div.row
        div.panel.panel-primary
            div.panel-body
                form(name="loginForm", #loginForm="ngForm")
                    div.form-group
                        h2 Login
                    div.form-group
                        label(for="email") Email:
                        div
                            input.form-control(type="email", [(ngModel)]="loginModel.email", #email="ngModel", name="email", [ngClass]="{'ng-invalid':email.invalid && email.dirty}")
                            div([hidden]="email.value || email.pristine", [ngClass]="{'alert':'true', 'alert-danger':'true'}") Email is required!
                    div.form-group
                        label Password:
                        div
                            input.form-control(type="password", [(ngModel)]="loginModel.password", name="password")
                    div.form-group
                        button.btn.btn-info.btn-block(type="submit", (click)="_dataService.login(loginModel)", [disabled]="!loginForm.form.valid || loginForm.form.pristine || loginForm.form.untouched") Sign In
                    div.form-group.divider
                        hr.left
                        small New Here?
                        hr.right
                    p.form-group
                        a.btn.btn-success.btn-block(href="#", [routerLink]="['/register']") Create an account
