h3 Login:
form.form-horizontal(name="loginForm")
    div.form-group
        label.col-sm-2.col-sm-offset-2(for="email") Email:
        div.col-sm-6
            input.form-control(type="text", (blur)="_dataService.isValidEmail(loginModel.email.value)", [ngFormControl]="term", [(ngModel)]="loginModel.email.value", name="email", [ngClass]="{'ng-invalid':!loginModel.email.valid && !loginModel.email.pristine}")
            div([hidden]="loginModel.email.valid || loginModel.email.pristine", [ngClass]="{'alert':'true', 'alert-danger':'true'}") Email is required!
    div.form-group
        label.col-sm-2.col-sm-offset-2 Password:
        div.col-sm-6
            input.form-control(type="password")
    div.form-group
        button.btn.btn-default(type="submit", (click)="_dataService.login(loginModel)") Submit
