div(*ngIf="!authenticated")
    div.container
        ul.nav.nav-pills.col-sm-offset-5
            li
                a(href="#login", data-toggle="pill", (click)="loadLoginForm()") Login
            li.active
                a(href="#register", data-toggle="pill") Register

        div.tab-content
            div#login.tab-pane
                span(#loginForm="")
            div#register.tab-pane.fade.in.active(registration-form)
div(*ngIf="authenticated")
    div.container
        h1 hurray!!! you have made it here...
