div.form-container
    div.row
        div.panel.panel-primary
            div.panel-body
                form(name="registrationForm" #registrationForm="ngForm")
                    div.form-group
                        h2 Register
                    div.form-group
                        label(for="email") Email:
                        div
                            input.form-control(type="email", (blur)="newemailControl.emit($event.target.value)", [(ngModel)]="registerModel.newemail.value", #newemail="ngModel", name="newemail")
                            div([hidden]="registerModel.newemail.valid || newemail.pristine", [ngClass]="{'alert':'true', 'alert-danger':'true'}") {{registerModel.newemail.error}}
                    div.form-group
                        label(for="accounts") Accounts:
                        div
                            select.selectpicker(multiple data-actions-box="true")
                                option Hilton Worldwide
                                option Corelogic
                    div.form-group
                        label(for="newpassword") New Password:
                        div
                            input.form-control(type="password", [(ngModel)]="registerModel.newpassword.value", #newpassword="ngModel", name="newpassword")
                    div.form-group
                        label(for="confirmpassword") Confirm Password:
                        div
                            input.form-control(type="password", [(ngModel)]="registerModel.confirmpassword.value", #confirmpassword="ngModel", name="confirmpassword")
                            div.alert.alert-danger([hidden]="registerModel.newpassword.value==registerModel.confirmpassword.value || newpassword.pristine || confirmpassword.pristine") Passwords do not match
                    div.form-group
                        button.btn.btn-info.btn-block(type="submit", (click)="_dataService.register(registerModel)", [disabled]="!registrationForm.form.valid || registrationForm.form.pristine || registrationForm.form.untouched || !registerModel.valid") Register
                    div.form-group
                        hr
                    p.form-group Already a member?
                        a(href="#", [routerLink]="['/login']") Sign In
