h4 Register Here:
form.form-horizontal
    div.form-group
        label.col-sm-2.col-sm-offset-2(for="email") Email:
        div.col-sm-4
            input.form-control(type="email", [(ngModel)]="registerModel.newemail.value", (keyup)="isValidEmail(registerModel.newemail.value)", [ngClass]="{'ng-invalid': !registerModel.newemail.valid && !registerModel.newemail.pristine, 'ng-valid': registerModel.newemail.valid && !registerModel.newemail.pristine}")
        span.glyphicon([hidden]="registerModel.newemail.pristine", [ngClass]="{'glyphicon-ok': registerModel.newemail.valid, 'glyphicon-remove': !registerModel.newemail.valid}")
    div.form-group
        label.col-sm-2.col-sm-offset-2(for="newpassword") New Password:
        div.col-sm-4
            input.form-control(type="password", [(ngModel)]="registerModel.newpassword.value")
            |{{registerModel.newpassword.value}}
    div.form-group
        label.col-sm-2.col-sm-offset-2(for="confirmpassword") Confirm Password:
        div.col-sm-4
            input.form-control(type="password", pattern="[A-z]+", [(ngModel)]="registerModel.confirmpassword.value")
            div.alert.alert-danger([hidden]="registerModel.newpassword.value==registerModel.confirmpassword.value") Passwords do not match
