div.container(*ngIf="!formInline")
    h3 Find Device
    form.form-horizontal
        div.form-group
            label.col-md-2.col-md-offset-2(for="ci") CI Name:
            div.col-md-4
                input.form-control(type="text", name="ci", [(ngModel)]="ci")
        div.form-group
            label.col-md-2.col-md-offset-2(for="account") Account:
            div.col-md-2
                select.form-control(name="account")
                    option(value="all") select account
                    option(*ngFor="let account of accounts", [value]="account")
                        |{{account}}
        div.form-group
            label.col-md-2.col-md-offset-2(for="tool") Tool:
            div.col-md-2
                select.form-control(name="account")
                    option(value="all") select tool
                    option(*ngFor="let tool of tools", [value]="tool")
                        |{{tool}}
        button.col-md-offset-4.btn.btn-default((click)="search()") search

div.container.center_div(*ngIf="formInline")
    form.form-inline
        div.form-group
            label(for="ci") CI Name:
            input.form-control(type="text", name="ci", [(ngModel)]="ci")
        div.form-group
            label(for="account") Account:
            select.form-control(name="account")
                option(value="all") select account
                option(*ngFor="let account of accounts", [value]="account")
                    |{{account}}
        div.form-group
            label(for="tool") Tool:
            select.form-control(name="account")
                option(value="all") select tool
                option(*ngFor="let tool of tools", [value]="tool")
                    |{{tool}}
        button.btn.btn-default.glyphicon.glyphicon-search((click)="search()")

//navigator: tabs for switching b/w result and server info
ul.breadcrumb
    li([class.active]="show")
        a(href="#results", data-toggle="pill") results
    li([class.active]="!show")
        a(href="#serverInfo", data-toggle="pill") {{serverName}}

div.tab-content
    div.clearfix.table-responsive.tab-pane#results([class.active]="show")
        h3 results
        table.table.table-striped
            thead
                tr
                    th Hostname
                    th Tool
                    th Account
            tbody
                tr(*ngFor="let result of temp")
                    td
                        |{{result.Hostname}}
                    td((click)="getMonitoringData(result)")
                        |{{result.Tool}}
                    td
                        |{{result.Account}}
        ul.pagination
            li(*ngFor="let page of pages; let i=index", [class.active]="page", (click)="selectPage(i)")
                a
                    |{{i}}
    div.clearfix.tab-pane#serverInfo([class.active]="!show")
        div(*ngFor="let key of monitoringData")
            |{{key[0]}}:{{key[1]}}
