div#users
    div.container
        div.row
            form.form-inline
                div.form-group
                    div.form-checkbox
                        input.form-control(type="checkbox")
                        span.check
                            i.glyphicon.glyphicon-ok
                div.form-group
                    select.form-control
                        option Bulk Action
                div.form-group
                    button.btn.btn-info Go
    div.table-responsive
        table.table.table-hover.table-users
            thead
                tr
                    td.size-60
                    td Name
                    td Account
                    td Role
                    td Status
                    td Action
                    td
            tbody
                tr(*ngFor="let user of users")
                    td
                        div.form-checkbox
                            input.form-control(type="checkbox")
                            span.check
                                i.glyphicon.glyphicon-ok
                    td
                        strong {{user.username}}
                    td {{user.nsp}}
                    td
                        span.badge(*ngIf="!user.edited") {{user.role}}
                        select.form-control(*ngIf="user.edited", (change)="updateUserRole(user, $event.target.value)")
                            option(*ngFor="let role of roles", [value]="role", [selected]="user.role==role") {{role}}
                    td
                        span.label(*ngIf="!user.edited", [ngClass]="user.status=='active' ? 'label-success' : (user.status=='pending' ? 'label-warning' : 'label-danger')") {{user.status}}
                        select.form-control(*ngIf="user.edited", (change)="updateUserStatus(user, $event.target.value)")
                            option(*ngFor="let status of statuses", [value]="status", [selected]="user.status==status") {{status}}
                    td
                        div.dropdown
                            button.btn.btn-default.dropdown-toggle#users-action-menu(data-toggle="dropdown")
                                span.caret
                            ul.dropdown-menu(aria-labelledby="users-action-menu")
                                li
                                    a((click)="editUser(user)") edit
                                li
                                    a delete
                    td
                        button.btn.btn-info([disabled]="!user.edited", (click)="updateUser(user)") save
