.ng-valid {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

.glyphicon-ok {
    color: #42A948;
}

.glyphicon-remove {
        color: #a94442;
}

.form-inline > * {
   margin:5px 3px;
}

.center_div {
    margin: 0 auto;
    width: 80%;
}
