#nav-header #header-search-field {
	padding-top: 17px;
	vertical-align: center;
	border: none;
	width: 300px;
	outline: none;
}

#nav-header ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	color: #676a6c;
}

#nav-header ul li {
	float: left;
	margin-left: 15px;
	padding: 17px 0px;
}

#nav-header ul .glyphicon {
	color: #676a6c;
}

#nav-header ul a {
	text-decoration: none;
}

#nav-header .logout {
	color: #676a6c;
}

#nav-header .logout:hover {
	color: #676a6c;
	cursor: pointer;
}

#nav-header #welcome {
	margin-right: 20px;
}

#nav-header ul .label {
	position: absolute;
	margin-top: -10px;
	margin-left: -5px;
}

#nav-header ul .label-message {
	background-color: #1ab394;
}

#nav-header .fixed-width {
	width: 35px;
}
